* {
    box-sizing: border-box;
}

body {
    max-width: 320px;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: blue;
}

header img {
    float: left;
}

header ul li {
    width: 50px;
    margin: 0 10px;
    background-color: orange;
}

header ul li a {
    padding: 5px;
    text-decoration: none;
    color: black;
}