* {
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

header {
    height: 120px;
    background-color: blue;
}

header div.image-container{
    float: left;
    height: 40px;
    margin: 40px 10px;
}

header div.image-container img {
    margin: 10px 0;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    width: 50px;
    height: 40px;
    float: right;
    margin: 40px 10px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
}

header ul li a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

main #text-container {
    margin: 10px 0;
    background-color: grey;
    padding: 10px;
    font-size: 1.1em;
}

main #text-container h2 {
    margin: 20px 0;
    font-size: 1.5em;
}

main #boxuno {
    width: 100%;
    padding: 10px;
    background-color: beige;
    object-fit: contain;
}

main #boxuno h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
}